<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

<head>
  <meta charset="UTF-8">
  <title>Show URL</title>
</head>
<section layout:fragment="content">
  <h1>URL</h1>
  <div class="card" th:object="${url}">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" th:text="'Id: ' + *{id}"></li>
      <li class="list-group-item" th:text="'Adress: ' + *{name}"></li>
      <li class="list-group-item" th:text="'Created at: ' + *{createdAt}"></li>
    </ul>
  </div>

  <div>
    <h1>Checks</h1>
    <form th:action="@{/urls/{id}/checks(id=${url.id})}" method="post">
      <button class="btn btn-primary" type="submit">Check</button>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status Code</th>
          <th>Title</th>
          <th>h1</th>
          <th>Description</th>
          <th>Check Date</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="check : ${url.urlChecks}">
          <td th:text="${check.id}"></td>
          <td th:text="${check.statusCode}"></td>
          <td th:text="${check.title}"></td>
          <td th:text="${check.h1}"></td>
          <td th:text="${check.description}"></td>
          <td th:text="${check.createdAt}"></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
</html>